.App { 
  background: radial-gradient(ellipse at bottom, #243547 75%, #090a0f 100%);
  text-align: center;
  min-height: 100vh;
}

.App-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-stars {
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent;
  animation: animStar 60s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}
